/* 2016 ⋅ Eric Bonilla */

#card {
	/*background-color: rgba(253, 227, 167, .1); /* #D2D7D3 */
	height: 100%;
	width: 100%;

	/*box-shadow: 0px 0px 34px 12px rgba(40, 40, 40, 0.05);*/
	border-radius: 0px;
	/*overflow-y: scroll;*/

	padding-top:20px;
}

h3 {
	text-align: left;
	padding-left: 37px;

	font-weight: 100;
	letter-spacing: 1px;

	/*color: rgba(40, 40, 40, 0.55);*/

	font-size: 1.2em;
}

h3.header {
	color: rgb(109, 115, 119);

	margin-right:7.75vw;
}

span.name {
	font-size: 1.3em;
/*	color: rgb(43, 105, 145);
*/
	color: #59ABE3;
}

a:link, a:visited {
	/*color: #BDC3C7;*/
	color: rgb(109, 115, 119);
	text-decoration: none;
	cursor:auto;
}

a.link1:hover {
	/*color: #6BB9F0;*/
	color: rgb(192, 57, 43);
	text-decoration: none;
	cursor:auto;
}

a.link2:hover {
	color: rgb(26, 26, 26);
/*	color: rgb(149, 155, 159);
*/	text-decoration: none;
	cursor:auto;
}

a.link3:hover {
	color: rgb(20, 123, 236);
/*	color: rgb(149, 155, 159);
*/	text-decoration: none;
	cursor:auto;
}

a.resume:link, a.resume:visited {
	color: rgb(109, 115, 119);
/*	color: #59ABE3;
*/	text-decoration: none;
	cursor:auto;
}

a.resume:hover {
	color: #87D37C;
	text-decoration: none;
	cursor:auto;
}

p.summary {
	/*background-color: lightblue;*/

	color: rgb(164, 154, 154);
	font-size: .9em;

	font-weight: 100;
	letter-spacing: .5px;

	padding-left: 37px;
	/*padding-right: 37px;*/
	padding-top: 0px;

	margin-right:7.75vw;
}

p#bottom {
	margin-top:90px;
}

p.descr {
	color: rgb(164, 154, 154);
	font-size: .8em;

	font-weight: 100;
	letter-spacing: .5px;

	padding-top: 15px;
	margin-bottom: -5px;
}

p.info {
	color: rgba(130, 60, 37, 0.35);
	font-weight: 100;
	letter-spacing: 1px;
}

hr.card {
    border: 0;
    width: 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    margin-bottom:-70px;
    margin-top:25px;
    margin-left:37px;
}

h3.projname {
	color: #2C3E50;
	font-size: 2.2em;
	padding-left: 0px;
	padding-left: 37px;
}

div.projFull {
	margin-top:90px;
	margin-bottom:37px;
}

div.proj {
	padding-left:37px;
	padding-right:37px;
	padding-bottom:37px;
}

/*flickr*/
div.proj2 {
	padding-left:37px;
	padding-right:6.4vw;
	padding-bottom:37px;
}

img {
	margin-top: 10px;
	/*margin-right: 37px;*/
}

img.coral1 {
	width: 40.25vw;
}

img.coral2 {
	height: 53.5vw;
}

img.refuge1 {
	width: 40.2vw;
}

img.refuge2 {
	width: 41.2vw;
}

div#col2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 2vw; /* Chrome, Safari, Opera */
    -moz-column-gap: 2vw; /* Firefox */
    column-gap: 2vw;
}

div#col4 {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;

    -webkit-column-gap: 1vw; /* Chrome, Safari, Opera */
    -moz-column-gap: 1vw; /* Firefox */
    column-gap: 1vw;
}

div#col2f {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: .1vw; /* Chrome, Safari, Opera */
    -moz-column-gap: .1vw; /* Firefox */
    column-gap: .1vw;
}

img.icon {
	margin:0;
	margin-bottom:-4px;
	width:1.4em;
}

a.flickr {
	margin-left: 37px;
	width: 400px;
}

img#photo1 {
	width: 43.0vw;
	/*margin-bottom: 52.5px;*/
}

img#photo2 {
	width: 43.0vw;
}

img#photo3 {
	width: 43.8vw;
}

img.cz {
	width: 18.1vw;
}

img#boys1{
	width: 40.2vw;
}

img#boys2{
	width: 41.2vw;
}
